  <!-- Page Content-->
  <section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">F.A.Q - Preguntas frecuentes</h1>
            <p class="lead fw-normal text-muted mb-0">¿En qu&eacute; puedo ayudarte?</p>
        </div>
        <div class="row gx-5">
            <div class="col-xl-8">
                <!-- FAQ Accordion 1-->
                <h2 class="fw-bolder mb-3">Cursos Online</h2>
                <div class="accordion mb-5" id="accordionExample">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">¿El acceso es temporal o para siempre?</button></h3>
                        <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>El acceso de los cursos es <u>de por vida</u>.</strong>
                                El curso sea adquirido mediante pago o de manera gratuita mediante cupón te da acceso sin restricciones para realizar
                                el curso a tu ritmo, sin plazos ni objetivos concretos.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingLimitViews"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLimitViews" aria-expanded="true" aria-controls="collapseLimitViews">¿Cu&aacute;ntas veces podría visualizar los videos?</button></h3>
                        <div class="accordion-collapse collapse" id="collapseLimitViews" aria-labelledby="headingLimitViews" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Todos los videos del curso <u>podremos visualizarlos tantas veces como quedamos y como queramos SIN LIMITES</u>.</strong>
                                Si nos hace falta, podremos reproducir los videos poco a poco y en diferentes d&iacute;s sin l&iacute; ni ninguna restricci&oacute;n
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Aprende a tu ritmo</button></h3>
                        <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Aprende a tu ritmo.</strong>
                                Podemos disfrutar de los cursos desde casa o desde cualquier lugar en el que estemos con una conexión de acceso a Internet.
                                No habrá horarios ni entregas. Cada uno de nosotros marcamos nuestro propio.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Calidad de los videos</button></h3>
                        <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Vídeos grabados y renderizados a la máxima calidad </strong> para que no pierdas ning&uacute;n detalle. 
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingSupport"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSupport" aria-expanded="false" aria-controls="collapseSupport">Soporte de gran calidad</button></h3>
                        <div class="accordion-collapse collapse" id="collapseSupport" aria-labelledby="headingSupport" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Soporte para dar el mejor apoyo a las personas que adquieren los cursos desde la plataforma de Udemy con <b>gran dedicación y buen desempeño</b>. 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FAQ Accordion 2
                <h2 class="fw-bolder mb-3">Website Issues</h2>
                <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Accordion Item #1</button></h3>
                        <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong>
                                It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>
                                , though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Accordion Item #2</button></h3>
                        <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong>
                                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>
                                , though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Accordion Item #3</button></h3>
                        <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong>
                                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>
                                , though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="col-xl-4">
                <div class="card border-0 bg-light mt-xl-5">
                    <div class="card-body p-4 py-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">¿Tienes m&aacute;s preguntas?</div>
                                <p class="text-muted mb-4">
                                    Contacta conmigo 
                                    <br />
                                    <a href="#!">mugan86[arroba]gmail.com</a>
                                </p>
                                <div class="h6 fw-bolder">Sígueme en</div>
                                <a class="fs-5 px-2 link-dark" href="https://twitter.com/mugan86" target="_blank"><i class="bi-twitter"></i></a>
                                <a class="fs-5 px-2 link-dark" href="https://www.facebook.com/anartz.mugika.online" target="_blank"><i class="bi-facebook"></i></a>
                                <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/anartz-mugika-0007a062/" target="_blank"><i class="bi-linkedin"></i></a>
                                <a class="fs-5 px-2 link-dark" href="https://youtube.com/mugan86" target="_blank"><i class="bi-youtube"></i></a>
                                <a class="fs-5 px-2 link-dark" href="https://github.com/mugan86" target="_blank"><i class="bi-github"></i></a>
                                <a class="fs-5 px-2 link-dark" href="https://mugan86.medium.com/" target="_blank"><i class="fab fa-medium"></i></a>
          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>