<div>
    <form id="newsLetterForm" (ngSubmit)="onSubmit()" [formGroup]="newsLetterForm">
        <div class="input-group mb-2">
            <input
              class="form-control"
              type="text"
              placeholder="Email address..."
              aria-label="Email address..."
              aria-describedby="button-newsletter"
              formControlName="email"
              class="form-control"
              placeholder="mugan86@gmail.com"
            />
            <button class="btn btn-outline-light" 
            [disabled]="newsLetterForm.invalid" id="button-newsletter" type="button">
              Sign up
            </button>
          </div>
    </form>
  
  <div class="small text-white-50">
    We care about privacy, and will never share your data.
  </div>
</div>
