<!-- Page Content-->
<section class="py-5"  *ngIf="infoElements.length > 0">
  <div class="container-fluid px-5 my-2">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Proyectos personales / profesionales</h1>
      <p class="lead fw-normal text-muted mb-0">
        Portfolio con los proyectos a destacar
      </p>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg">
        <div class="form-group">
        <input type="text" class="form-control mb-4" autofocus placeholder="Busca el proyecto/s que deseas" [(ngModel)]="query" (ngModelChange)="searchData($event)" id="listSearch">
      </div>
      </div>
      
    </div>
    <div class="row">
      <!--<div class="col-lg-1"></div>-->
     <div class="col-lg-2 alert alert-primary text-center">
        FILTERS SECTION
      </div>
      <div class="col-lg" *ngIf="showItems">
        <app-one-colum-portfolio
          [info]="c"
          *ngFor="let c of showItems"
        ></app-one-colum-portfolio>
        <div class="alert alert-info" *ngIf="pagination.length == 0">
          No hay resultados con lo que buscas. Por favor, prueba a realizar la búsqueda con otros términos.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <app-pagination *ngIf="pagination.length > 0"
          (showInfoElements)="loadData($event)"
          (changePage)="changePage($event)"
          [itemsPerPage]="itemsPerPage"
          [infoElements]="pagination"
          [currentPage]="currentPage"
        ></app-pagination>
      </div>
    </div>

    <!-- Pagination -->
  </div>
</section>
