<!-- Page Content-->
<section class="py-5"  *ngIf="infoElements.length > 0">
  <div class="container-fluid px-5 my-2">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Proyectos personales / profesionales</h1>
      <p class="lead fw-normal text-muted mb-0">
        Portfolio con los proyectos a destacar
      </p>
    </div>
    <div class="row">
      <!--<div class="col-lg-1"></div>-->
     <div class="col-lg-2 alert alert-primary text-center">
        FILTERS SECTION
      </div>
      <div class="col-lg" *ngIf="portfolioItems">
        <app-one-colum-portfolio
          [info]="c"
          *ngFor="let c of portfolioItems"
        ></app-one-colum-portfolio>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <app-pagination
          (showInfoElements)="loadData($event)"
          [itemsPerPage]="itemsPerPage"
          [infoElements]="infoElements"
        ></app-pagination>
      </div>
    </div>

    <!-- Pagination -->
  </div>
</section>
<!--<section class="py-5 bg-light">
  <div class="container px-5 my-5">
    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
    <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
  </div>
</section>-->
