<!-- Page Content-->
<section class="py-5">
  <div class="container px-5 my-2">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Proyectos personales / profesionales</h1>
      <p class="lead fw-normal text-muted mb-0">
        Portfolio con los proyectos a destacar
      </p>
    </div>
    <div class="row gx-5">
      <div *ngFor="let c of portfolioItems" class="col-lg-4">
        <app-big-info-card [info]="c" [buttonLabel]="'Detalles'"></app-big-info-card>
      </div>
    </div>
    
  </div>
</section>
<!--<section class="py-5 bg-light">
  <div class="container px-5 my-5">
    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
    <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
  </div>
</section>-->
