<!-- Features section-->
<section class="py-5" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="fw-bolder mb-0">
          Empieza a construir tu futuro profesional <u>con mi ayuda.</u>
        </h2>
      </div>
      <div class="col-lg-8">
        <div class="row gx-5 row-cols-1 row-cols-md-2">
          <div class="col mb-5 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-card-checklist"></i>
            </div>
            <h2 class="h5">Cursos Online</h2>
            <p class="mb-0">
              Obtén conocimientos mediante Cursos Online que imparto en
              diferentes tecnologías. Calidad y buenos contenidos a precios
              inmejorables. Más información:
              <a
                href="https://www.udemy.com/user/anartzmugika/"
                target="_blank"
                title="Cursos Online Anartz Mugika Ledo"
                >Anartz Mugika Ledo - Udemy</a
              >
            </p>
          </div>
          <div class="col mb-5 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-collection-play-fill"></i>
            </div>
            <h2 class="h5">Talleres gratuitos</h2>
            <p class="mb-0">
              Paragraph of text beneath the heading to explain the heading. Here
              is just a bit more text.
            </p>
          </div>
          <div class="col mb-5 mb-md-0 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-people-fill"></i>
            </div>
            <h2 class="h5">Comunidades colaborativas</h2>
            <p class="mb-0">
              Paragraph of text beneath the heading to explain the heading. Here
              is just a bit more text.
            </p>
          </div>
          <div class="col h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-toggles2"></i>
            </div>
            <h2 class="h5">Featured title</h2>
            <p class="mb-0">
              Paragraph of text beneath the heading to explain the heading. Here
              is just a bit more text.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial section-->
<div class="py-5 bg-light">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-10 col-xl-7">
        <div class="text-center">
          <div class="fs-4 mb-4 fst-italic">
            "No tengas miedo en compartir dudas por muy simple que creas que es, seguramente es la mejor pregunta que me haréis en el día de hoy"
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <img
              class="rounded-circle me-3"
              src="https://dummyimage.com/40x40/ced4da/6c757d"
              alt="..."
            />
            <div class="fw-bold">
              Anartz Mugika Ledo
              <span class="fw-bold text-primary mx-1">/</span>
              Desarrollo & Formación Anartz Mugika Ledo
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog preview section-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">Cursos Online</h2>
          <p class="lead fw-normal text-muted mb-5">
            Lista de los cursos Online que dispongo para vuestra formación al mejor precio y con un soporte inmejorable
          </p>
        </div>
      </div>
    </div>
    <div class="row gx-5">
      <div *ngFor="let c of onlineCourses" class="col-lg-4 mb-5">
        <app-info-card [info]="c"></app-info-card>
      </div>
    </div>
    <!-- Call to action-->
    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
      <div
        class="
          d-flex
          align-items-center
          justify-content-between
          flex-column flex-xl-row
          text-center text-xl-start
        "
      >
        <div class="mb-4 mb-xl-0">
          <div class="fs-3 fw-bold text-white">
            New products, delivered to you.
          </div>
          <div class="text-white-50">
            Sign up for our newsletter for the latest updates.
          </div>
        </div>
        <div class="ms-xl-4">
          <app-newsletter></app-newsletter>
        </div>
      </div>
    </aside>
  </div>
</section>
