<!-- Page content-->
<section class="py-3">
  <div class="container px-5">
    <!-- Contact form-->
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-envelope"></i>
        </div>
        <h1 class="fw-bolder">Contáctame</h1>
        <p class="lead fw-normal text-muted mb-0">
          Puedes escribir tu consulta y me pondré en contacto contigo en la
          mayor brevedad posible
        </p>
      </div>
      <div *ngIf="alertType != ''" class="alert alert-{{alertType}}" role="alert">
        {{ alertMsg }}
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <form
            id="contactForm"
            (ngSubmit)="onSubmit()"
            [formGroup]="contactForm"
          >
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="name"
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Introduzca su nombre / apellidos"
                data-sb-validations="required"
              />
              <label for="name">Nombre / Apellidos</label>
              <div *ngIf="form.name.errors">
                <div
                  class="invalid-feedback"
                >
                  Nombre y Apellidos es requerido.
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="email"
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="mugan86@gmail.com"
              />
              <label for="email">Correo electr&oacute;nico</label>
              <div *ngIf="form.email.errors">
                <div
                  *ngIf="form.email.errors.required"
                  class="invalid-feedback"
                >
                  El email es obligatorio
                </div>
                <div
                  *ngIf="form.email.errors.email"
                  class="invalid-feedback"
                >
                  El email debe de ser válido
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="phone"
                type="tel"
                formControlName="phone"
                class="form-control"
                placeholder="(123) 456-7890"
              />
              <label for="phone">N&uacute;mero de tel&eacute;fono</label>
              <div *ngIf="form.phone.errors">
                <div class="invalid-feedback">
                A phone number is required.
              </div>
              </div>
              
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" formControlName="subject">
                <!--<option selected>Selecciona una de las opciones</option>-->
                <option *ngFor="let option of options" [ngValue]="option.code">
                  {{ option.description }}
                </option>
              </select>

              <label for="subject">Asunto / Razón de contacto</label>
            </div>
            <div class="form-floating mb-3">
              <textarea
                class="form-control"
                id="message"
                type="text"
                formControlName="message"
                class="form-control"
                placeholder="Introduzca su mensaje aquí"
                style="height: 10rem"
                data-sb-validations="required"
              ></textarea>
              <label for="message">Escriba su consulta / mensaje</label>
              <div *ngIf="form.message.errors">
                <div class="invalid-feedback">
                  El mensaje es obligatorio.
                </div>
              </div>
            </div>
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                To activate this form, sign up at
                <br />
                <a href="https://startbootstrap.com/solution/contact-forms"
                  >https://startbootstrap.com/solution/contact-forms</a
                >
              </div>
            </div>
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">
                Error sending message!
              </div>
            </div>
            <div class="d-grid">
              <button
                class="btn btn-primary btn-lg"
                [disabled]="contactForm.invalid"
                id="submitButton"
                type="submit"
              >
                Enviar informaci&oacute;n
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
      <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fab fa-discord"></i>
        </div>
        <div class="h5 mb-2">Com&uacute;nicate con + estudiantes</div>
        <p class="text-muted mb-0">
          Canales en diferentes tem&aacute;ticas para hablar, participar y
          compartir conocimientos.
        </p>
        <br />
        <a
          href="https://cursos.anartz-mugika.com/discord"
          target="_blank"
          class="text-decoration-none"
          title="Comunidad Online"
          >Discord - Comunidad Online <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fab fa-twitter"></i>
        </div>
        <div class="h5">Twitter</div>
        <p class="text-muted mb-0">
          Todas las novedades sobre cupones, recursos que comparto propios y de
          otras personas,...
        </p>
        <br />
        <a
          href=" https://cursos.anartz-mugika.com/twitter"
          target="_blank"
          class="text-decoration-none"
          title="Twitter Anartz Mugika"
          >Twitter <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fab fa-youtube"></i>
        </div>
        <div class="h5">Talleres / Tips &uacute;tiles</div>
        <p class="text-muted mb-0">
          Videos cortos de funcionalidades concretas, mini cursos y contenido
          PREMIUM de los cursos GRATIS.
        </p>
        <br />
        <a
          href=" https://cursos.anartz-mugika.com/youtube"
          target="_blank"
          class="text-decoration-none"
          title="Canal de Youtube - Anartz Mugika Ledo"
          >Youtube <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fab fa-github"></i>
        </div>
        <div class="h5">Github</div>
        <p class="text-muted mb-0">
          Código de los desarrollos de los cursos, talleres, tutoriales y
          m&aacute;s <strong>TOTALMENTE GRATIS.</strong>
        </p>
        <br />
        <a
          href=" https://cursos.anartz-mugika.com/github"
          target="_blank"
          class="text-decoration-none"
          title="Github - Anartz Mugika Ledo"
          >Github <i class="bi bi-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">Cursos Online</h2>
          <h3 *ngIf="coupon.active">
            <strong
              >Cupones activos (<span class="coupon_code">{{
                coupon.code
              }}</span
              >) al mejor precio hasta el {{ coupon.data_finish }}</strong
            >
          </h3>
          <p class="lead fw-normal text-muted mb-5">
            <a [routerLink]="['/courses']" routerLinkActive="router-link-active"
              >Lista de los cursos Online que dispongo</a
            >
            para vuestra formación al mejor precio y
            <strong><u>con un soporte inmejorable.</u></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container px-5">
    <!-- Contact cards-->
    <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
      <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fab fa-medium"></i>
        </div>
        <div class="h5 mb-2">Medium - Art&iacute;culos t&eacute;cnicos</div>
        <p class="text-muted mb-0">
          Todos los artículos que he escrito y escribir&eacute; los
          encontrar&eacute;is <strong>TOTALMENTE GRATIS.</strong>
        </p>
        <br />
        <a
          href="https://cursos.anartz-mugika.com/medium"
          target="_blank"
          class="text-decoration-none"
          title="Artículos técnicos de programación Anartz Mugika Ledo"
          >Acceder <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fab fa-telegram"></i>
        </div>
        <div class="h5">Telegram</div>
        <p class="text-muted mb-0">
          Cualquier novedad acerca de talleres, tutoriales, iniciativas, nuevos
          cursos o actualizaciones de estos desde este canal
          <strong>GRATIS.</strong>
        </p>
        <br />
        <a
          href="https://t.me/anartzmugika"
          target="_blank"
          class="text-decoration-none"
          title="Novedades sobre cursos, talleres,... -  Anartz Mugika Ledo"
          >Acceder <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fab fa-linkedin"></i>
        </div>
        <div class="h5">Linkedin</div>
        <p class="text-muted mb-0">
          Contacta conmigo para cualquier propuesta, trabajo,...
        </p>
        <br />
        <a
          href="https://t.me/anartzmugika"
          target="_blank"
          class="text-decoration-none"
          title="Linkedin -  Anartz Mugika Ledo"
          >Acceder <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="col">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fab fa-itch-io"></i>
        </div>
        <div class="h5">Itchio</div>
        <p class="text-muted mb-0">
          Portfolio donde iré colgando los juegos que vaya haciendo y que quiero
          que los veáis. Pueden ser juegos de algún curso o proyectos
          personales.
        </p>
        <br />
        <a
          href="https://mugan86.itch.io/"
          target="_blank"
          class="text-decoration-none"
          title="Juegos en Unity - Anartz Mugika Ledo"
          >Acceder <i class="bi bi-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>
